@model IEnumerable<AdoptifySystem.Models.UserRole>

@{
    ViewBag.Title = "SearchUserRole";
}

<h2>SearchUserRole</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Role_.Role_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Role_.Role_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserRole_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserRole_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserRole_ID })
        </td>
    </tr>
}

</table>
