@model IEnumerable<AdoptifySystem.Models.Role_>

@{
    ViewBag.Title = "Search User Role";
}

<h2>Search User Role</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Role_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Role_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Role_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Role_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Role_ID })
        </td>
    </tr>
}

</table>
