@model AdoptifySystem.Adopter

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Adopter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adopter_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adopter_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adopter_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adopter_Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adopter_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adopter_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adopter_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adopter_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adopter_PostalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adopter_PostalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adopter_HomeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adopter_HomeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adopter_WorkNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adopter_WorkNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adopter_CellNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adopter_CellNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adopter_CarRegistartion_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adopter_CarRegistartion_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adopter_Employer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adopter_Employer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount_of_Family_Memebers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount_of_Family_Memebers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No_of_Children)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_of_Children)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age_of_Children)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age_of_Children)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property_Securely_Closed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property_Securely_Closed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Properyty_Include_Pool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Properyty_Include_Pool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pool_Secured)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pool_Secured)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal_Shelter_Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal_Shelter_Available)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sick_Animal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sick_Animal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sick_Animal_Diagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sick_Animal_Diagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal_Sleep_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal_Sleep_Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Given_Animal_Away)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Given_Animal_Away)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeCheck_Suburb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeCheck_Suburb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type_of_House)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_of_House)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adopted_Before)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adopted_Before)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complex_or_Flat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complex_or_Flat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal_Allowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal_Allowed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal_Captivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal_Captivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal_Vaccines_Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal_Vaccines_Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.Title_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.Title_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adopter_Status.Adopter_Status_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adopter_Status.Adopter_Status_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Adopter_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
