@model AdoptifySystem.Volunteer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Volunteer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vol_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vol_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vol_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vol_Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vol_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vol_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vol_ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vol_ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vol_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vol_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vol_Emergency_ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vol_Emergency_ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vol_Emergency_ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vol_Emergency_ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.Title_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.Title_Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Vol_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
