@model AdoptifySystem.Veterinarian

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div class="" style="text-align:center;padding-left:120px">
        <h1>Veterinarian Details</h1>
    </div>

    <div class="panel panel-default" style="width:1200px">
        <div class="panel-heading">
            <h3 class="panel-title">Veterinarian Details</h3>
        </div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                    Name:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vet_Name)
                </dd>

                <dt>
                    Email:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vet_Emial)
                </dd>

                <dt>
                    Tel:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vet_Tel)
                </dd>

                <dt>
                    Address:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Vet_Address)
                </dd>

        </dl>
    </div>
    </div>
    <p>
        <div class="form-actions no-color">            
            @Html.ActionLink("Edit", "Edit", "Veterinarians", new { id = Model.Vet_ID }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" }) <br />
            @Html.ActionLink("Back to List", "Index", "Veterinarians", null, new { @class = "btn btn-primary glyphicon glyphicon-circle-arrow-left" })
         </div>

</p>
