@model AdoptifySystem.Veterinarian

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Veterinarian</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vet_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vet_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vet_Emial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vet_Emial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vet_Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vet_Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vet_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vet_Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Vet_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
