@model AdoptifySystem.Veterinarian

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div class="" style="text-align:center;padding-left:120px">
        <h1>Update Veterinarian</h1>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Veterinarian</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Vet_ID)

            <div>
                <label>Name:</label><br />

                @Html.EditorFor(model => model.Vet_Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Vet_Name, "", new { @class = "text-danger" })

            </div>

            <div>
                <label>Email:</label> <br />

                @Html.EditorFor(model => model.Vet_Emial, new { htmlAttributes = new { @class = "form-control", @type = "email", required = "required" } })
                @Html.ValidationMessageFor(model => model.Vet_Emial, "", new { @class = "text-danger" })

            </div>

            <div>
                <lable>Tel:</lable><br />
                @Html.EditorFor(model => model.Vet_Tel, new { htmlAttributes = new { @class = "form-control", @type = "tel", required = "required" } })
                @Html.ValidationMessageFor(model => model.Vet_Tel, "", new { @class = "text-danger" })

            </div>

            <div>
                <lable>Address:</lable><br />

                @Html.EditorFor(model => model.Vet_Address, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Vet_Address, "", new { @class = "text-danger" })

            </div><br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success glyphicon glyphicon-floppy-disk" />
                </div>
            </div>
        </div>
    }
    </div>
<h2 style="color:red">@ViewBag.Message</h2><br />
<div>
    @Html.ActionLink("Refresh", "Edit ", "Veterinarians", null, new { @class = "btn btn-default glyphicon glyphicon-refresh" })
</div>

    <div>
        @Html.ActionLink("Back to List", "Index", "Veterinarians", null, new { @class = "btn btn-primary glyphicon glyphicon-circle-arrow-left" })
    </div>
