@model IEnumerable<AdoptifySystem.Veterinarian>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div class="" style="text-align:center;padding-left:120px">
        <h1>Veterinarian List</h1>
    </div>

    <div class="newButton">
        <i class="glyphicon glyphicon-plus"></i>
        @Html.ActionLink("Create New", "Create", null, new { @style = "color: # fff" })
    </div>

    @using (Html.BeginForm("Search", "Veterinarians", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-5">
                <h4><span style="font-weight:bold">Search Type:<span class="label label-default"></span></span></h4>
                @*@Html.DropDownList("searchBy", selectList, "Search Criteria Type", new { @class = "css-class", @type = "submit" })*@
            </div>
            <div class="col-md-5">
                <h4><span style="font-weight:bold">Search Criteria:<span class="label label-default"></span></span></h4>
                @Html.TextBox("search", "", new { @name = "txtSearch", @placeholder = "Search Criteria" })
            </div>
        </div>

        <div class="col-xs-12" style="height:15px;"></div>

        <div class="row">
            <div class="col-md-4">
                <input type="submit" value="Search" id="buttons" class="newButton bsearch">
            </div>
        </div>

        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Tel
                </th>
                <th>
                    Address
                </th>
                <th>
                    Action
                </th>
            </tr>


            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="8">
                        No results found
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vet_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vet_Emial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vet_Tel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vet_Address)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Vet_ID }) |

                            <button class="moreinfo" data-toggle="modal" data-target="#@Html.DisplayFor(modelItem => item.Vet_ID)"> More info</button>

                            @Html.ActionLink("Delete", "Delete", new { id = item.Vet_ID })
                        </td>
                    </tr>


                    <div id="@Html.DisplayFor(modelItem => item.Vet_ID)" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="info_card">
                                <div class="card_inner">
                                    <h2>  @Html.DisplayFor(modelItem => item.Vet_Name) </h2>
                                    <hr />
                                </div>
                                <div class="data">

                                    <span class="value">Email:</span>  @Html.DisplayFor(modelItem => item.Vet_Emial) <br />

                                    <span class="value">Tel:</span>@Html.DisplayFor(modelItem => item.Vet_Tel)<br />

                                    <span class="value">Address:</span> @Html.DisplayFor(modelItem => item.Vet_Address)<br />

                                    <div class="">
                                        <button onclick=@Html.ActionLink("Edit", "Edit", new { id = item.Vet_ID }, new { @style = "color: orange" })></button>
                                        <a @Html.ActionLink("Details", "Details", new { id = item.Vet_ID }, new { @style = "color: red" })><button>Details</button></a>
                                        <a @Html.ActionLink("Delete", "Delete", new { id = item.Vet_ID }, new { @style = "color: red" })><button>Delete</button></a>
                                    </div>
                                    <br />
                                    <button type="button" class="btn btn-primary glyphicon glyphicon-remove" data-dismiss="modal"><i></i>Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            }

        </table>
    }

</div>

